@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
.header{
    min-height: 44px;
    width: 100%;
    background: #7E33E0;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.header-left{
    margin-left: 14%;
    word-spacing: 28px;
}
.header-right{
    margin-right: 14%;
    word-spacing: 28px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 12px;
}
span{
    color: #FB2E86;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color:#0D0E43;
    font-family: 'Lato', sans-serif;
}
nav form{
    display: flex;
    min-height: 40px;
    border-radius: 2px;
    padding: 2px;
    min-width: 18%!important;
    border: 2px solid #E7E6EF;
    width: 317px;
}
nav form .search-data{
    min-height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-weight: 500;
    background: none;
    border: none;
}
nav form button{
    padding: 0 15px;
    background: #FB2E86;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    min-height: 33px;
}
section{
    background: #F6F5FF;
    min-height: 286px;
    width: 100%;
    margin-top: 2%;
}
.section-info{
    margin-left: 14%;
    padding-top: 7%;
    line-height: 32px;
}
    /* common header */
    
    .containermain{
        width: 100%;
        display: flex;
        height: auto;
        background-color: white;
        }
        
        
        .left{
        width: 70%;
        background-color: white;
        padding-left: 14%;
        padding-top: 95px;
        }
        
        .contentcard{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        }
        .cards{
        width: 100%;
        margin:10px;
        }
        
        .caption{
        display: flex;
        padding-top: 33px;
        }
        .caption h2{
        padding-right: 10px;
        }
        
        .caption h3{
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 6px;
        background: #FFE7F9;
        border-radius: 2px;
        font-family: 'Josefin Sans';
        font-size: 14px;
        line-height: 16px;
        color: #151875;
        }
        
        .caption h4{
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 3px;
        }
        
        .caption h5{
        padding-right: 10px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #151875;
        background: #FFECE2;
        border-radius: 2px;
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 5px;
        }
        
        .containers {
        padding: 20px 2px;
        }
        
        .containers h4{
        font-family: 'Josefin Sans';
        font-size: 30px;
        line-height: 35px;
        color: #151875;
        }
        
        .containers p{
        padding-top: 23px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15.5px;
        line-height: 26px;
        color: #8A8FB9;
        }
        .read{
        display: flex;
        }
        
        .read h3{
        padding-top: 31px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #151875;
        }
        
        .read h2{
        padding-top: 18px;
        padding-left: 1px;
        font-size: 32px;
        color: #FB2E86;
        }
        
        .container2{
        display: flex;
        flex-direction: row;
        padding-left: 35%;
        padding-right: 35%;
        justify-content: space-between;
        }
        
        
        .right{
        width: 30%;
        padding-right: 11%;
        padding-left: 2.5%;
        padding-top: 130px;
        }
        
        .right h1{
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        padding-bottom: 15px;
        }
        
        form {
        box-sizing: border-box;
        border-radius: 2px;
        }
        
        form.example input[type=text] {
        padding: 10px;
        border-radius: 2px;
        border: 1px solid#BDBDD8;
        border-right:none;
        float: left;
        width: 81%;
        height: 40px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(21, 24, 117, 0.1);
        background: white;
        }
        
        form.example button {
        float: left;
        border-radius: 2px;
        width: 19%;
        height: 40px;
        padding: 10px;
        background: white;
        color: rgba(21, 24, 117, 0.1);
        font-size: 17px;
        border:1px solid #BDBDD8;
        border-left: none;
        cursor: pointer;
        }
        
        form.example button:hover {
        background: white;
        }
        
        form.example::after {
        content: "";
        clear: both;
        display: table;
        }
        
        
        .right h2{
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        padding-top: 42px;
        }
        
        
        .buttons{
        display:flex;
        flex-direction: column;
        padding-top: 25px;
        }
        
        .row1{
        display: flex;
        }
        .row2{
        display: flex;
        padding-top: 12px;
        }
        .row3{
        display: flex;
        padding-top: 12px;
        }
        
        .right h3{
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        padding-top: 35px;
        padding-bottom: 22px;
        }
        
        
        .postcard {
        padding-top: 22px;
        transition: 0.3s;
        display:flex;
        flex-direction:row;
        }
        
        .postcard img{
        width:70px;
        border-radius: 2px;
        }
        
        
        .postcontainer {
        width:100%;
        
        }
        
        .postcontainer h4{
        padding-top: 8px;
        padding-left: 6px;
        font-family: 'Josefin Sans';
        font-size: 14px;
        line-height: 16px;
        color: #3F509E;
        }
        
        .postcontainer p{
        padding-left: 6px;
        padding-top: 5px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: #8A8FB9;
        }
        
        .right h5{
        padding-top: 37px;
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        padding-bottom: 15px;
        }
        
        
        .right h6{
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        padding-top: 37px;
        padding-bottom: 30px;
        }
        
        .offer1{
        display: flex;
        }
        .offercard{
        width: 55%;
        }
        
        .offercard img{
        border-radius: 2px;
        width: 126px;
        padding-right: 10px;
        }
        .offercontainer {
        padding: 2px 16px;
        }
        
        .name{
        padding-top: 9px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #151875;
        }
        
        .rate{
        padding-top: 6px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #8A8FB9;
        }
        
        
        .offer2{
        display: flex;
        padding-top: 30px;
        }
        
        .follow{
        padding-top: 37px;
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        font-weight: bold;
        }
        
        .followicons{
        padding-top: 26px;
        }
        
        .tag{
        padding-top: 46px;
        font-weight: bold;
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
        color: #151875;
        }
        
        
        
        .tags{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        }
        
        .tags ul li{
        
        list-style: none;
        display: inline-block;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        padding: 0px 10px;
        font-size: 16px;
        line-height: 26px;
        text-decoration-line: underline;
        color: #151875;
        
        }
        
        
        .footerimg{
        padding-left: 25%;
        /* height: 150px; */
        height: auto;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        }
        
        .footerimg img{
        width:60% ;
        }

    
    
    
    
    
    .footer-container{
        min-height: 400px;
        width: 100%;
        background:#EEEFFB;
    }
    .footer{   
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-left: 12%;
        margin-right: 12%;
        padding-top: 6%;
    }
    .footer-heading{
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
    }
    .footer-heading h2{
        margin-bottom: 2rem;
    }
    .footer-heading h3{
        margin-bottom: 2rem;
    }
    .footer-heading a{
        color:#8A8FB9;
        text-decoration: none;
        margin-bottom: 1rem;
        font-family: 'Lato', sans-serif;
    }
    .footer-email-form h2{
        margin-bottom: 2rem;
    }
    #footer-email{
        width: 250px;
        min-height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        padding-left: 0.5rem;
        margin-bottom: 1rem;
    }
    #footer-email::placeholder{
        color: #8A8FB9;
    }
    #footer-email-btn{
        width: 100px;
        min-height: 40px;
        border-radius: 3px;
        background-color: #FB2E86;
        color: #fff;
        font-size: 1rem;
    }
    .footer-sub{
        display: flex;
        flex-direction: column;
        line-height: 2rem;
    }
    .footer-sub a{
        color:#8A8FB9;
        font-family: 'Lato', sans-serif;
    }
    .footer-bar{
        width: 100%;
        min-height: 53px;
        background: #E7E4F8;
    }
    .footer-bar-sub{
        display: flex;
        justify-content: space-between;
        margin-left: 14%;
        margin-right: 22%;
        padding-top: 17px;
        font-family: 'Lato', sans-serif;
    }
    .footer-icons{
        word-spacing: 8px;
    }
    .footer-icons i{
        border-radius: 100%;
    }
    .footer-icons a{
        color: white;
    }
    @media only screen and (max-width:1920px){
        .section-info{
            padding-top: 6%;
            padding-bottom: 6%;
        }
    }
    @media only screen and (max-width:1294px){
        nav{
            display: flex;
            flex-direction: column;
        }
        nav h2{
            margin-bottom: 1rem;
        }
        nav ul{
            margin-bottom: 2rem;
        }
        section{
            min-height: auto;
        }
        .section-info{
            padding-top: 3%;
            padding-bottom: 3%;
        }
    }
    @media only screen and (max-width:1515px){

        .right{
        width: 30%;
        padding-right: 5%;
        padding-left: 1.5%;
        padding-top: 100px;
        }
        
        .left{
        width: 70%;
        background-color: white;
        padding-left: 10%;
        padding-top: 75px;
        }
        
    }
    @media only screen and (max-width:1415px){
        .right{
        width: 30%;
        padding-right: 5%;
        padding-left: 1.5%;
        padding-top: 100px;
        }
        
        .left{
        width: 70%;
        background-color: white;
        padding-left: 10%;
        padding-top: 65px;
        }
        
        .containers h4{ 
        font-size: 28px;
        }
        .read h3{
        font-size: 16px;
        line-height: 20px;
        }
    }
    @media only screen and (max-width:1275px){
        .read h3{
        font-size: 16px;
        line-height: 20px;
        }
        
        .containers p{
        font-size: 12px;
        line-height: 20px;
        color: #8A8FB9;
        }
        
        .containermain{
        height: 2050px;
        }
        
        
        .footerimg{
        height: auto;
        }
        
        .right{
        width: 40%;
        padding-right: 5%;
        padding-left: 1.5%;
        padding-top: 100px;    
        height: 1800px;
        }
        
        .left{
        width: 60%;
        background-color: white;
        padding-left: 10%;
        padding-top: 65px;
        height: 1800px;
        }
        
        
        .containers h4{ 
        font-size: 24px;
        }
        
        .caption h3{
        font-size: 12px;
        line-height: 14px;
        }
        
        
        .caption h5{
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        }
    }
    @media only screen and (max-width:1200px){
        .containermain{
            height: 2000px;
        }
    }
    @media only screen and (max-width:1080px){
        .containermain{
        height: 2000px;
        }
        
        
        .footerimg{
        height: 100px;
        }
        
        .right{
        width: 40%;
        padding-right: 2%;
        padding-left: 1%;
        padding-top: 100px;
        height: 1800px;
        }
        
        .left{
        width: 60%;
        height: 1800px;
        background-color: white;
        padding-left: 2%;
        padding-top: 65px;
        }
        
        .containers h4{ 
        font-size: 18px;
        }
        
        .containers p{
        font-size: 12px;
        line-height: 20px;
        color: #8A8FB9;
        }
        
        .postcontainer h4{
        font-size: 12px;
        }
        
        .caption h3{
        font-size: 12px;
        line-height: 14px;
        }
        
        
        .caption h5{
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        }
        
        .read h3{
            font-size: 16px;
            line-height: 20px;
        }
    }
    @media only screen and (max-width:1003px){
        .header-left{
            margin: auto;
            word-spacing: 10px;
            padding: auto;
        }
        .header-right{
            margin: auto;
            word-spacing: 10px;
            padding: auto;
        }
    }
    @media only screen and (max-width:950px){
        .containermain{
            height: 1900px;
        }
    }
    @media only screen and (max-width:760px){
        .containermain{
        height: 1800px;
        }
        
        
        .footerimg{
        height: 100px;
        }
        
        .right{
        width: 40%;
        padding-right: 2%;
        padding-left: 1%;
        padding-top: 100px;
        height: 1800px;
        }
        
        .left{
        width: 60%;
        height: 1800px;
        background-color: white;
        padding-left: 2%;
        padding-top: 65px;
        }
        
        .containers h4{ 
        font-size: 18px;
        }
        
        .postcontainer h4{
        font-size: 12px;
        }
        
        .caption h3{
        font-size: 12px;
        line-height: 14px;
        }
        
        
        .caption h5{
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        }
        .read h3{
            font-size: 14px;
            line-height: 20px;
            }
    }  
    @media only screen and (max-width:758px){
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 32px;
        }
        nav ul li{
            display: block;
        }
    }
    @media only screen and (max-width:600px){
        .postcontainer h4{
        font-size: 12px;
        }
        
        .containermain{
        display: flex;
        flex-direction: column;
        height: 3600px;
        }
        
        
        .right{
        width: 80%;
        padding-left: 20%;
        padding-top: 130px;
        }
        
        .left{
        width: 100%;
        background-color: white;
        padding-left: 2%;
        padding-top: 10px;
        }
        
        .containers h4{ 
        font-size: 18px;
        }
        
        .caption h3{
        font-size: 11px;
        line-height: 14px;
        }
        
        
        .caption h5{
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        }
        .read h3{
        font-size: 14px;
        line-height: 20px;
        }
        
        
        form.example button {
        width: 15%;
        height: 35px;
        padding: 10px;
        cursor: pointer;
        }
    }
    @media only screen and (max-width:550px){
        .postcontainer h4{
        font-size: 12px;
        }
        
        .containermain{
        display: flex;
        flex-direction: column;
        height: 3500px;
        }
        
        
        .right{
        width: 80%;
        padding-left: 15%;
        padding-top: 20px;
        }
        
        .left{
        width: 100%;
        background-color: white;
        padding-left: 2%;
        padding-top: 10px;
        }
        
        .containers h4{ 
        font-size: 16px;
        }
        .caption h3{
        font-size: 11px;
        line-height: 14px;
        }
        
        
        .caption h5{
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        }
        
        .read h3{
        font-size: 14px;
        line-height: 20px;
        }
        
        
        form.example button {
        width: 15%;
        height: 35px;
        padding: 10px;
        cursor: pointer;
        }
    }   
    @media only screen and (max-width:450px){
        .footer-icons{
            display: none;
        }
    }
    @media only screen and (max-width:450px){
        .container4{
            margin-bottom: -12%;
        }
    }
    @media only screen and (max-width:323px){
        .header-left{
            word-spacing: 2px;
        }
        .header-right{
            word-spacing: 2px;
        }
    }

        
        
        
        
        
        
        
        
        
        
        
        
        
       
        
        
        
        
        
        
        
        
        
        
        
        
        