@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
.header{
    min-height: 44px;
    width: 100%;
    background: #7E33E0;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.header-left{
    margin-left: 14%;
    word-spacing: 28px;
}
.header-right{
    margin-right: 14%;
    word-spacing: 28px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 12px;
}
span{
    color: #FB2E86;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color:#0D0E43;
    font-family: 'Lato', sans-serif;
}
nav form{
    display: flex;
    min-height: 40px;
    border-radius: 2px;
    padding: 2px;
    min-width: 18%!important;
    border: 2px solid #E7E6EF;
    width: 317px;
}
nav form .search-data{
    min-height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-weight: 500;
    background: none;
    border: none;
}
nav form button{
    padding: 0 15px;
    background: #FB2E86;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    height: 33px;
}
section{
    background: #F6F5FF;
    min-height: 286px;
    width: 100%;
    margin-top: 2%;
}
.section-info{
    margin-left: 14%;
    padding-top: 7%;
    line-height: 32px;
}
.container{
    width: 100%;
    min-height: 130vh;
    background: #ffffff;
}
.container-main{
    display: flex;
    padding-top: 5%;
    margin-left: 14%;
}
.container-main h2{
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
}
.container-main-sub1-para{
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #8A8FB9;
    margin-bottom: 2rem;
}
.sub2-color{
    display: flex;
    margin-bottom: 2.5rem;
    gap: 3rem;
}
.sub2-colors{
    display: flex;
}
.sub2-info{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}
.container-main-sub2{
    margin-left: 16%;
}
.container-main1{
    display: flex;
    margin-left: 14%;
    margin-top: 4%;
}
.container-main1-sub1 h2{
    font-family: 'Josefin Sans';
    color: #151875;
    margin-bottom: 1rem;
}
.container-main1-sub1-para{
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #8A8FB9;
    margin-bottom: 2rem;
}
.container-main1-sub2 img{
    width: 90%;
    min-height: auto;
}
.input-box{
    width: 35%;
    border: 1px solid #C2C5E1;
    margin: 6px 0;
    min-height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid rgba(164, 182, 200, 0.7);
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2rem;
}
.input-box1{
    width: 70.5%;
    border: 1px solid #C2C5E1;
    margin: 6px 0;
    min-height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid rgba(164, 182, 200, 0.7);
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2rem;
}
::placeholder{
    color:#8A8FB9;
}
.container button{
    width: 157px;
    margin: 35px 0 10px;
    min-height: 44px;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #FB2E86;
    border-radius: 3px;
}
textarea{
    box-sizing: border-box;
    width: 70.5%;
    min-height: 166px;
    background: #FFFFFF;
    border: 1px solid rgba(164, 182, 200, 0.7);
    border-radius: 3px;
    margin: 6px 0;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5%;
}
.footer-container{
    min-height: 400px;
    width: 100%;
    background:#EEEFFB;
}
.footer{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 6%;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2{
    margin-bottom: 2rem;
}
.footer-heading h3{
    margin-bottom: 2rem;
}
.footer-heading a{
    color:#8A8FB9;
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}
.footer-email-form h2{
    margin-bottom: 2rem;
}
#footer-email{
    width: 250px;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
#footer-email::placeholder{
    color: #8A8FB9;
}
#footer-email-btn{
    width: 100px;
    min-height: 40px;
    border-radius: 3px;
    background-color: #FB2E86;
    color: #fff;
    font-size: 1rem;
}
.footer-sub{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
.footer-sub a{
    color:#8A8FB9;
    font-family: 'Lato', sans-serif;
}
.footer-bar{
    width: 100%;
    min-height: 53px;
    background: #E7E4F8;
}
.footer-bar-sub{
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 22%;
    padding-top: 17px;
    font-family: 'Lato', sans-serif;
}
.footer-icons{
    word-spacing: 8px;
}
.footer-icons i{
    border-radius: 100%;
}
.footer-icons a{
    color: white;
}
@media only screen and (max-width:1920px){
    .container{
        min-height: 100vh;
    }
    .section-info{
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .container-main-sub2{
        margin-left: 20%;
    }
}
@media only screen and (max-width:1294px){
    nav{
        display: flex;
        flex-direction: column;
    }
    nav h2{
        margin-bottom: 1rem;
    }
    nav ul{
        margin-bottom: 2rem;
    }
    section{
        min-height: auto;
    }
    .section-info{
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media only screen and (max-width:1292px){
    .sub2-color{
        gap: 1rem;
    }
}
@media only screen and (max-width:1245px){
    .container-main-sub2{
        margin-left: 10%;
    }
}
@media only screen and (max-width:1107px){
    .container-main-sub2{
        margin-left: 8%;
    }
}
@media only screen and (max-width:1083px){
    .container-main-sub2{
        margin-left: 5%;
    }
}
@media only screen and (max-width:1049px){
    .container-main-sub2{
        margin-left: 3%;
    }
}
@media only screen and (max-width:1027px){
    .container-main{
        display: flex;
        flex-direction: column;
    }
    .container-main-sub1-colors{
        margin-bottom: 2rem;
    }
    .container-main-sub2{
        margin-left: 0%;
    }
}
@media only screen and (max-width:1003px){
    .header-left{
        margin: auto;
        word-spacing: 10px;
        padding: auto;
    }
    .header-right{
        margin: auto;
        word-spacing: 10px;
        padding: auto;
    }
}
@media only screen and (max-width:758px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 32px;
    }
    nav ul li{
        display: block;
    }
}
@media only screen and (max-width:800px){
    .container-main1{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width:455px){
    .sub2-color{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
@media only screen and (max-width:450px){
    .footer-icons{
        display: none;
    }
}
@media only screen and (max-width:323px){
    .header-left{
        word-spacing: 2px;
    }
    .header-right{
        word-spacing: 2px;
    }
}